.editor-class {
  border-radius: 4px;
  padding-left: 12px;
  padding-right: 12px;
  max-height: 200px;
  border: 1.5px solid #e3e3e3;
}
.toolbar-class {
  border: 1.5px solid #e3e3e3 !important;
  border-radius: 4px !important;
}
.wrapper-class {
  margin-top: 12px;
}