@media print {
  .page {
    box-shadow: none !important;
    page-break-after: always;
    width: auto !important;
    height: 100vh !important;
    padding: 0px !important;
    margin: 0px !important;
  }

  @page:first {
    margin: 0;
  }



  /* .header h1 {
    font-size: 80px !important;
  }
  .date {
    margin-top: auto !important;
  }
  .company-info {
    left: 0mm !important;
  }
  .company-info h1{
    font-size: 94px !important;
  }
  .company-info h2{
    font-size: 96px !important;
  } */

  /* .date h3 {
    font-size: 24px !important;
  } */

}

.page {
  position: relative;
  width: 210mm;
  height: 297mm;
  /* padding: 20mm; */
  /* General padding */
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
  /* Softer, lighter shadow */
  overflow: hidden;

}

.header {
  /* position: absolute;
  width: 100%;
  text-align: center; */
  position: absolute;
  top: 0;
  left: 0;
  width: 55%;
  /* Adjust width as needed */
  height: 30%;
  /* Adjust height as needed */
  border-bottom-right-radius: 100px;
  /* background-color: #286A96; */
  z-index: 1;
}

.header>h1 {
  font-size: 4em;
  overflow-wrap: break-word;
}

.hr {
  border: 0;
  height: 2px;
  background-color: #ffffff;
  margin-top: 4px;
  /* Adjust margin as needed */
  /* Adjust margin as needed */
}

.header>h3 {
  color: #ffffff;
  padding: 3rem;
}

.logo {
  z-index: 10;
  width: 300px;
  height: 300px;
}

.company-name {
  font-size: 80px !important;
}


.company-info {
  display: flex;
  flex-direction: column;
  margin-top: 50%;
  width: 100%;
  background-color: #286A96;
}

.company-info>h1 {
  color: #ffffff;
  padding: 1rem 3rem;
  z-index: 1;
}

.company-info>h2 {
  color: #ffffff;
  padding: 3rem;
}

.date {
  position: absolute;
  bottom: 10mm;
  right: 10mm;
}

.squares_div {
  position: absolute;
  display: flex;
  right: 0;
  margin-top: 10%;
}

.tilted_square {
  width: 500px;
  height: 500px;
  background-color: #286A96;
  opacity: 0.5;
  /* Adjust opacity as needed */
  transform: rotate(45deg);
}

.subsquares_div {
  position: absolute;
  display: flex;
  left: 0;
  bottom: 0;
  margin-top: 10%;
}

.tilted_subsquare {
  width: 500px;
  height: 500px;
  background-color: #286A96;
  opacity: 0.5;
  /* Adjust opacity as needed */
  transform: rotate(45deg);
}