@media print {
  .page {
    box-shadow: none !important;
    page-break-after: always;
    width: 100% !important;
    height: auto !important;
    padding: 0 !important;
    overflow: hidden !important;
  }



}

.page {
  position: relative;
  width: 210mm;
  overflow: hidden;
  height: auto;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
  /* Softer, lighter shadow */
  /* General padding */
}

