.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
    background-color: #f8f8f8;
    position: absolute;
    top: 0;
    left: 0;
}

.error-page h1 {
    font-size: 6rem;
    margin: 0;
}

.error-page p {
    font-size: 1.5rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.error-page a {
    color: #007bff;
    text-decoration: none;
    font-size: 1.2rem;
}

.error-page a:hover {
    text-decoration: underline;
}