@print {
  .answer-summary {
    transform: scale(0.8);
  }
}

.Narro-markdown h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary) !important;
  /* color:  #111111 !important; */
  /* Original */
}

.Narro-markdown {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
}


.Narro-markdown ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

.Narro-markdown ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

.Narro-markdown h1 {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  line-height: 2.25rem;

  font-size: 1.875rem !important;
  line-height: 2.25rem;
  font-family: var(--font-primary);
  font-weight: 700;
  --tw-text-opacity: 1;

}

.Narro-markdown h2 {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;



  font-size: 1.5rem;
  line-height: 2rem;
}

.Narro-markdown h3 {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  font-size: 1.25rem !important;
  line-height: 1.75rem;
  color: #111111;
}

.Narro-markdown h4 {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  color: #111111;
  font-size: 1.125rem !important;
  line-height: 1.75rem;

}

.Narro-markdown h5 {
  display: block;
  margin-block-start: 1em;
  font-size: 1rem !important;
  line-height: 1.5rem;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

.Narro-markdown h6 {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  font-size: 0.875rem !important;
  line-height: 1.25rem;
}

.Narro-markdown li {
  display: list-item;
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
  color: #111111;
  line-height: 1.8rem;
  font-size: 16px;
}

.Narro-markdown p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  color: #111111;
  line-height: 1.6rem;
  font-size: 16px;
}

.Narro-markdown table {
  color: #ffffff;
}


.Narro-markdown th {
  color: #ffffff !important;
  background-color: var(--table-color) !important;
}