@media print {
  .page {
    box-shadow: none !important;
    /* page-break-after: always; */
    width: 95% !important;
    height: auto !important;
    padding: 3rem !important;
  }

}

.page {
  position: relative;
  width: 210mm;
  height: auto;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
  /* Softer, lighter shadow */
  padding: 20mm;
  /* General padding */
}

.box {
  /* Assuming some default styles for a box */
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  border: 0.1px solid #cecece;
  border-radius: 0.25rem;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
  /* Example shadow */
  margin-bottom: 16px;
}