#message-bubble pre {
  white-space: pre-line;
}

#message-bubble > ol,
#message-bubble > ul {
  margin: 16px 0px;
  padding-left: 16px; /* Default left padding for lists */
}

#message-bubble > ol {
  list-style-type: decimal; /* Numbered list for ordered lists */
}

#message-bubble > ul {
  list-style-type: disc; /* Bullet points for unordered lists */
}

#message-bubble > ol li,
#message-bubble > ul li {
  list-style-position: auto; /* Ensure bullets/numbers are inside the list item */
}