* {
  padding: 0;
}

ul {
  /* if you want the standard bullets, use 'disc' instead of 'circle' */
  list-style: circle;
  list-style-position: outside;
  padding-left: 2em;
}
li::marker {
  text-indent: 20px !important;
}