@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  .Narro-output table {
    width: 90%;
    border-collapse: collapse;
    font-size: 0.8em;
    transform: scale(0.5);
    transform-origin: top left;
  }

  .Narro-output th,
  td {
    padding: 4px;
    border: none;
    background: none;
  }

  .Narro-section {
    width: 100% !important;
    box-shadow: none !important;
    height: '100%' !important;
    margin-bottom: 0px !important;
    page-break-before: always;
  }

  .content {
    height: min-content !important;
  }

  header {
    display: none;
  }

  @page {
    size: A4 portrait;
  }

  #edit-button,
  #print {
    display: none;
  }

}


#succession-plan {
  margin: 1in;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

ul {
  /* if you want the standard bullets, use 'disc' instead of 'circle' */
  list-style: disc;
  list-style-position: outside;
  padding-left: 2em;
}

ol {
  /* if you want the standard bullets, use 'disc' instead of 'circle' */
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 40px;
}

li::marker {
  text-indent: 20px !important;
}



.Narro-output h1 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #236c95;
  font-size: 2.25rem;
  line-height: 2.75rem;
  /* 44px */
  width: 100%;
}

.Narro-output h2 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  color: #236c95;
  font-size: 1.875rem;
  line-height: 2.25rem;
  /* 36px */
  width: 100%;
}

.Narro-output h3 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  color: #236c95;
  font-size: 1.5rem;
  line-height: 2rem;
  /* 32px */
  width: 100%;
}

.Narro-output h4 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  color: #236c95;
  font-size: 1.25rem;
  line-height: 1.75rem;
  /* 28px */
  width: 100%;
}

.Narro-output h5 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  color: #236c95;
  font-size: 1rem;
  line-height: 1.5rem;
  /* 24px */
  width: 100%;
}

.Narro-output h6 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  color: #236c95;
  font-size: 0.875rem;
  line-height: 1.25rem;
  /* 20px */
  width: 100%;
}



.coverpage {
  width: 100%;
  height: auto;
}

.text-div {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.list-div {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

/* Table styling */
#html-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.table-lines {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

/* Table header styling */
.table-lines th {
  background-color: #236c95;
  color: white;
  padding: 12px;
  border: 1px solid black;
}

/* Table row styling */
.table-lines tr:nth-child(even) {
  background-color: #236c95;
}

.table-lines tr:nth-child(odd) {
  background-color: black;
}

/* Table cell styling */
.table-lines td {
  padding: 12px;
  border: 1px solid black;
}

/* Set specific width for each column */
.table-lines th:nth-child(1),
.table-lines td:nth-child(1) {
  width: 200px;
  /* Adjust this value as needed */
}

.table-lines th:nth-child(2),
.table-lines td:nth-child(2) {
  width: 250px;
  /* Adjust this value as needed */
}

.table-lines th:nth-child(3),
.table-lines td:nth-child(3) {
  width: 300px;
  /* Adjust this value as needed */
}

.table-lines th:nth-child(4),
.table-lines td:nth-child(4) {
  width: 300px;
  /* Adjust this value as needed */
}

table td {
  text-align: left;
}

table thead th {
  text-align: left;
}

/* Delete it after I finish adding all Sections components accordingly on the page.tsx file */
.subheading {
  font-size: 1rem;
  /* Adjust the size as needed */
  font-weight: bold;
  color: #3399d4;
  /* Adjust the color as needed */
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  /* Optional: Makes the text uppercase */
}

.section {
  margin-left: 2rem;
  margin-right: 2rem;
}

.printbutton {
  background-color: #236c95;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
}