@media print {
  .page {
    box-shadow: none !important;
    page-break-after: always;
    width: 99% !important;
    height: 100% !important;
    padding: 3rem !important;
  }

}

.page {
  position: relative;
  width: 210mm;
  height: 297mm;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
  /* Softer, lighter shadow */
  padding: 20mm;
  /* General padding */
}

.imgDiv {
  position: absolute;
  top: 8mm; /* Adjust this value to control the distance from the top */
  left: 60%; /* Adjust this value to control the distance from the right */
}

.img {
  width: 80%;
  margin: 0; 
}