@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  .page-section {
    width: 100% !important;
    box-shadow: none !important;
    height: '100%' !important;
    margin-bottom: 0px !important;
    page-break-before: always;
  }

  .cover-page {
    page-break-before: avoid;
    /* No page break before the first section */
  }

  .content {
    height: min-content !important;
  }
  header {
    display: none;
  }

  @page {
    /* size: A4; */
    /* margin: 20mm; */
  }

  #print {
    display: none;
  }

}