.page-section {
  width: 210mm;
  height: 100%;
  margin-bottom: 12px;
  font-family: 'Arial', serif;
}

h1 {
  margin-bottom: 1rem;
  color: white;
  font-family: Arial, sans-serif;
  background-color: #236c95;
  padding: 1rem;
  text-transform: uppercase;
  width: 100%;
	font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}

h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: white;
  font-family: Arial, sans-serif;
  color: #236c95;
  /* background-color: #236c95; */
  /* padding: 1rem; */
	font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; 
  text-transform: uppercase;
  width: 100%;
}

h3 {
  font-family: 'Arial', serif;
  margin-top: 2.4rem;
  margin-bottom: 1rem;
  color: #236c95;
  text-transform: uppercase;
  font-size: 1rem;
}

h4 {
  font-family: 'Arial', serif;
  margin-top: 2.4rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.coverpage {
  width: 100%;
  height: auto;
}

.text-div {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.list-div {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

/* Table styling */
#html-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.table-lines {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

/* Table header styling */
.table-lines th {
  background-color: #236c95;
  color: white;
  padding: 12px;
  border: 1px solid black;
}

/* Table row styling */
.table-lines tr:nth-child(even) {
  background-color: #236c95;
}

.table-lines tr:nth-child(odd) {
  background-color: black;
}

/* Table cell styling */
.table-lines td {
  padding: 12px;
  border: 1px solid black;
}

/* Set specific width for each column */
.table-lines th:nth-child(1),
.table-lines td:nth-child(1) {
  width: 200px;
  /* Adjust this value as needed */
}

.table-lines th:nth-child(2),
.table-lines td:nth-child(2) {
  width: 250px;
  /* Adjust this value as needed */
}

.table-lines th:nth-child(3),
.table-lines td:nth-child(3) {
  width: 300px;
  /* Adjust this value as needed */
}

.table-lines th:nth-child(4),
.table-lines td:nth-child(4) {
  width: 300px;
  /* Adjust this value as needed */
}

table td {
  text-align: left;
}
table thead th {
  text-align: left;
}

/* Delete it after I finish adding all Sections components accordingly on the page.tsx file */
.subheading {
  font-size: 1rem;
  /* Adjust the size as needed */
  font-weight: bold;
  color: #3399d4;
  /* Adjust the color as needed */
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  /* Optional: Makes the text uppercase */
}

.section {
  margin-left: 2rem;
  margin-right: 2rem;
}

.printbutton {
  background-color: #236c95;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
}
